nav ul.navbar-nav{
    display: table;
    /*margin: 0 auto;*/
    padding: 0 ;
    /*width: 80%;*/
    /*text-align: center;*/
}
nav ul.navbar-nav li{
    width:100%;

}
nav ul.navbar-nav a{
    display: block;
    width: 100%;
    text-decoration: none;
    color:#fff;
    padding-bottom: 5px;
    text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
}
nav ul.navbar-nav a:hover {
    text-decoration: none;
}
#myNavbar > li {
    /*background-color:transparent;*/
    border-bottom:none;
}
#myNavbar > li.selected {
    border-bottom:1px solid RGBA(255,255,255,0.5);
    /*background-color:RGBA(255,255,255,0.2);*/
}

.navbar-login {
    list-style: none;
    color:#fff;
    margin:0;
    padding:0;
}
.navbar-top a {
    text-decoration: none;
}
.dropdown-menu {
    min-width:80px !important;
}
.dropdown-menu > li > a{
    color:#000 !important;
    padding:0 5px;
}
.navbar-login a {
    color:#fff;
}
.navbar-login .dropdown-item {
    color:#000 !important;
}
.navbar-login > p {
    width: 130px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.bg-darkblue {
    background-color: #154170;
    color:#fff;
}
.nav-menu-master::before {
	font-family: 'FontAwesome';
	content:"\f013";
	padding-right:3px;
	color:#fff;    
}
.nav-menu-purchase::before {
	font-family: 'FontAwesome';
	content:"\f1da";
	padding-right:3px;
	color:#fff;    
}
.nav-menu-budget::before {
	font-family: 'FontAwesome';
	content:"\f1fe";
	padding-right:3px;
	color:#fff;    
}
.nav-menu-payment::before {
	font-family: 'FontAwesome';
	content:"\f0d6";
	padding-right:3px;
	color:#fff;    
}
.nav-menu-delivery::before {
	font-family: 'FontAwesome';
	content:"\f187";
	padding-right:3px;
	color:#fff;    
}
.nav-menu-order::before {
	font-family: 'FontAwesome';
	content:"\f218";
	padding-right:3px;
	color:#fff;    
}
.nav-menu-orderrequest::before {
	font-family: 'FontAwesome';
	content:"\f108";
	padding-right:3px;
	color:#fff;    
}
.nav-menu-search::before {
	font-family: 'FontAwesome';
	content:"\f00e";
	padding-right:3px;
	color:#fff;    
}
.nav-menu-home::before {
	font-family: 'FontAwesome';
	content:"\f015";
	padding-right:3px;
	color:#fff;    
}
.nav-menu-logout::before {
	font-family: 'FontAwesome';
	content:"\f08b";
	padding-right:3px;
	color:#fff;        
}
.navbar-language {
    padding-top:7px;
    min-width:130px;
}
.navbar-language label {
    font-size:85%;
}
.navbar-username > p {
    padding:0px;
    margin:0;
    min-width:130px;
    cursor:default;
}
.navbar-logout {
    width:100px !important;
    padding-left:15px;
}
.navbar-logout:hover{
    border-bottom:1px solid RGBA(255,255,255,0.5);
}
/*
    #myNavbar > li:before {
        position:absolute;
        top:1.6em;
        left:3px;
        content: "";
        display:inline-block;
        width:0;
        height:1px;
        transition:1s;
        background-color:#fff;
    }
    #myNavbar > li:active {
        font-weight:bolder;
    }
    #myNavbar > li:not(.dropdown):hover:before{
        width:95%;
        width:calc(100% - 6px);
        width: -webkit-calc(100% - 6px);
    }*/

@media (min-width:768px) {
    nav ul.navbar-nav {
        min-width:780px;  
    }
    nav ul.navbar-nav li{
        display: table-cell;
        width: 110px; 
        text-align: center;       
        }
    nav ul.navbar-nav > li:not(.dropdown) > a:hover {
        color:#acb8ca !important;
    }
    .navbar-login {
        width:130px;
    }
}