.bodyLogin {
	background: #BBD2C5;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #292E49, #536976, #BBD2C5);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #292E49, #536976, #BBD2C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.login-area-body {
	color:#fff;
}
.divLogin {
	margin:0 auto;
}
.wrapper {
	display:flex;
	/*height:100%;*/
	padding:20px 5px 10px 5px;
	font-size:12px;
}

.pagenationStyle {
	position:absolute;
	right:5px;
	top:0;	
}
.leftside-fixed-280 {
	width:280px;
	min-width: 280px;
	position: relative;
}
.leftside-fixed-240 {
	width:240px;
	/*height:100%;*/
	/*display:none;*/
}
.toggle-fixed-37 {
	width:37px;
	height:100%;
	margin-left:-1px;
}
.flexmain {
	flex:1;
	height:100%;
	padding:2px 8px;
	position:relative;
}
body > div
{
	/*height:100%;*/
}
main {
	/*:10px 5px;*/
}
.info {
	background-color:RGBA(255,255,2551.0);
	border:1px solid #b8b8b8;
	margin-top:30px;
	overflow-y: auto;
	/*height:700px;*/
}
.info > article {
	padding:5px;
}
.info > article:hover {
	/*background-color:#rgba(200,231,244,0.5);*/
	background-color:#cfdff8;
}
.info > article:not(:last-child) {
    padding-bottom: 30px;
}
.info > article > time {
	color: #858585;
	font-size:10px;
	line-height: 15px;
	padding-bottom: 8px;
	display: inline-block;
	padding-right:5px;
}
.info > article > span::before{
	font-family: 'FontAwesome';
	content:"\f007";
	padding-right:2px;
}
.info > article > h6 {
    font-size: 16px;
    font-weight: normal;
    color: #154170;
    padding-bottom: 4px;
	line-height: 24px;
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
}
.info > article > p {
	word-wrap: break-word;
}
#btnModalBulletinBoad {
	position: absolute;
	top:15px;
	right:0;
}
.update{
	width:100%;
	padding:5px;
	background-color:RGBA(255,255,255,1.0);
	border:1px solid #b8b8b8;
}
.update label {
	text-align:right;
	width:100px;
	padding-right:10px;
	vertical-align: top;
}
.update input,
.update textarea {
	width:230px;
}
.update textarea {
	height:90px;
	resize:none;
}
.update #RegistDate {
	outline:none;
	border:none;
	background-color:transparent;
}
.update input[type=submit],
.update input[type=button] {
	width:60px;
}

h5{
	font-size: 16px;
	color: #3B3B3B;
	height: 32px;
	font-weight: normal;
	position: relative;
	margin-bottom: 30px;
}
.align-center {
	text-align: center;
}
.align-right {
	text-align: right;
}

input[type="text"]:read-only {
    cursor: normal;
    background-color: #f8f8f8;
    color: #999;
}

.searchPageTable,
.progressTable {
	width:100%;
	margin-top:20px;
	/*table-layout: auto;*/
}

.searchPageTable td,
.masterTable td {
	border:1px solid #b8b8b8;
	padding:2px 3px;
	background-color:#ffffff;
}
.searchPageTable tr:nth-child(even) td,
.progressTable tr:nth-child(even) td,
.masterTable  tr:nth-child(even) td{
	background-color:#f6f6f6;
}

.searchPageTable thead th,
.progressTable thead th,
.masterTable thead th {
	background-color: #eee;
	text-align: center;
	padding:2px 3px;
	border:1px solid #b8b8b8;
}

/*テーブルヘッダ固定*/
.table-fixed {
	border:1px solid #b8b8b8;
}
.table-fixed tbody {
    /*height: 300px;*/
    overflow-y: auto;
    width: 100%;
}
.table-fixed thead,
.table-fixed tr,
.table-fixed td,
.table-fixed th {
    display: inline-block;
}
.table-fixed tbody{
	display:block;
}
.table-fixed tbody td,
.table-fixed tbody th,
.table-fixed thead > tr > th {
    float: left;
    position: relative;
}

.table-fixed tbody td::after,
.table-fixed tbody th::after,
.table-fixed thead > tr > th::after {
	/*content: '';
	clear: both;
	display: inline-block;*/
}
.table-fixed thead > tr > th {
	white-space:nowrap;
	overflow:hidden;
}
.table-fixed tbody>  tr:hover {
	background-color:#cfdff8 !important;
}

.table-fixed-selectRow {
	background-color:#a9c1e1 !important;
}
.table-fixed-nonselect {
	background-color:transparent !important;
}

/*進捗テーブル home*/
.table-progressFixed {
	margin-top:20px;
	min-width:1200px;
}
/*種類*/
.table-progressFixed thead th:nth-child(1),
.table-progressFixed tbody td:nth-child(1) {
	width:60px;
}
/*icon*/
.table-progressFixed thead th:nth-child(2),
.table-progressFixed tbody td:nth-child(2) {
	width:40px;
}
/*依頼発注日*/
.table-progressFixed thead tdeleveryh:nth-child(3) > a {
	font-size:8.5px;
}
.table-progressFixed thead th:nth-child(3),
.table-progressFixed tbody td:nth-child(3) {
	width:100px;
}
/*商品名*/
.table-progressFixed thead th:nth-child(4),
.table-progressFixed tbody td:nth-child(4) {
	/*homeScript.jsで設定*/
}
/*容量*/
.table-progressFixed thead th:nth-child(5),
.table-progressFixed tbody td:nth-child(5) {
	width:100px;
}
/*規格*/
.table-progressFixed thead th:nth-child(6),
.table-progressFixed tbody td:nth-child(6) {
	width:120px;
}
/*依頼者*/
.table-progressFixed thead th:nth-child(7),
.table-progressFixed tbody td:nth-child(7) {
	width:120px;
}
/*カタログコード*/
.table-progressFixed thead th:nth-child(8),
.table-progressFixed tbody td:nth-child(8) {
	width:120px;
}
/*メーカー*/
.table-progressFixed thead th:nth-child(9),
.table-progressFixed tbody td:nth-child(9) {
	width:140px;
}
/*単価*/
.table-progressFixed thead th:nth-child(10),
.table-progressFixed tbody td:nth-child(10) {
	width:90px;
}
/*数量*/
.table-progressFixed thead th:nth-child(11),
.table-progressFixed tbody td:nth-child(11) {
	width:70px;
}
/*進捗*/
.table-progressFixed thead th:nth-child(12),
.table-progressFixed tbody td:nth-child(12) {
	width:120px;
}

/*検索テーブル searchPage*/
.table-searchFixed {
	margin-top:30px;
	min-width:840px;
}
/*種類*/
.table-searchFixed thead th:nth-child(1),
.table-searchFixed tbody td:nth-child(1) {
	width:60px;
}
/*容量*/
.table-searchFixed thead th:nth-child(2),
.table-searchFixed tbody td:nth-child(2) {
	width:100px;
}
/*商品名*/
.table-searchFixed thead th:nth-child(3),
.table-searchFixed tbody td:nth-child(3) {
	/*searchScript.jsで設定*/
}
/*規格*/
.table-searchFixed thead th:nth-child(4),
.table-searchFixed tbody td:nth-child(4) {
	width:120px;
}
/*カタログコード*/
.table-searchFixed thead th:nth-child(5),
.table-searchFixed tbody td:nth-child(5) {
	width:120px;
}
/*メーカー*/
.table-searchFixed thead th:nth-child(6),
.table-searchFixed tbody td:nth-child(6) {
	width:140px;
}
/*単価*/
.table-searchFixed thead th:nth-child(7),
.table-searchFixed tbody td:nth-child(7) {
	width:90px;
}
/*カート、お気に入り追加ボタン*/
.table-searchFixed thead th:nth-child(8),
.table-searchFixed tbody td:nth-child(8) {
	width:100px;
}

/*マスタテーブル user*/
.table-masterFixed {
	display:none;
	margin-top:10px;
	width:520px;
	margin-left:auto;
	margin-right:20px;
}
.table-masterFixed tbody td::after,
.table-masterFixed tbody th::after,
.table-masterFixed thead > tr > th::after {
/*	content: '';
	clear: both;
	display: inline-block;*/
}
/*削除ボタン*/
.table-masterFixed thead th:nth-child(1),
.table-masterFixed tbody td:nth-child(1) {
	width:100px;
}
.table-masterFixed thead th:nth-child(2),
.table-masterFixed tbody td:nth-child(2) {
	width:400px;
}
#tblUserMasterList > tbody > tr:hover {
	background-color:RGBA(163,194,241,0.5);
}

/*SearchPage 検索条件部分タブ*/
.searchFormArea {
	flex-wrap:wrap;
	display:flex;
}
.tabLabel {
	width: calc(100%/5);
	height: 25px;
	line-height: 25px;
 	text-align: center;
 	display: block;
 	float: right;
	order: -1;
	border-top:1px solid #a6a6a6;
	border-left:1px solid #a6a6a6;
	border-right:1px solid #a6a6a6;
	border-radius:3px 3px 0 0;
	margin:0;
}
input[name="searchFormTab"] {
	display: none;
}
   
input[name="searchFormTab"]:checked + .tabLabel {
	background-color: #154170;
	color:#fff;
}
.searchFormArea input[type="text"] {
	width:200px;
}
.tabContent {
	display:none;
	width:100%;
	padding:5px;
	border:1px solid #a6a6a6;
	background-color:#fff;
}
input[name="searchFormTab"]:checked + .tabLabel + .tabContent {
	display: block;
}

input[name="tabCart"] {
	display: none;
}
input[name="tabCart"]:checked + .tabLabel {
	background-color: #154170;
	color:#fff;
}
input[name="tabCart"]:checked + .tabLabel + .tabContent {
	display: block;
}
input[name="tabFavorite"] {
	display: none;
}
input[name="tabFavorite"]:checked + .tabLabel {
	background-color: #154170;
	color:#fff;
}
input[name="tabFavorite"]:checked + .tabLabel + .tabContent {
	display: block;
}
#wrapperOrderRequestList,
#wrapperFavoriteList {
	flex-wrap: wrap;
	display: flex;
	/*height: calc( 50% - 37px);*/
}
#wrapperOrderRequestList div.tabContent ,
#wrapperFavoriteList div.tabContent {
		height:calc(100% - 25px);
}
#toggle-button-searchpage {
	width:32px;
	height:200px;
	background-image: url("../images/detailsearchbutton.png");
	background-repeat: no-repeat;
	margin-top:49px;
}
.maker-checkbox-group {
	height:300px;
	overflow: auto;
	width:200px;
	border:1px solid #a6a6a6;
	padding:3px;
}
/*.maker-checkbox-group input[type=checkbox] {
	display:none;
}
.maker-checkbox-group label:focus,
.maker-checkbox-group label:hover,
.maker-checkbox-group label:active,
.maker-checkbox-group input:checked + label {
	color:#154170;
}
.maker-checkbox-group label:focus:before,
.maker-checkbox-group label:hover:before,
.maker-checkbox-group label:active:before,
.maker-checkbox-group input:checked + label:before {
	border-color: #154170;
	background: #ffffff;
}
.maker-checkbox-group label {
	line-height: 1;
	position: relative;
	display: inline-block;
	overflow: hidden;
	padding: 0.3em 1em 0.3em 2.5em;
	cursor: pointer;
	-webkit-transition: all 0.15s ease;
	        transition: all 0.15s ease;
	white-space: nowrap;
	text-overflow: ellipsis;
	background: #ffffff;
}
.maker-checkbox-group label:before {
	position: absolute;
	top: 0.3em;
	left: 1em;
	width: 10px;
	height: 10px;
	content: '';
	border: 0.2em solid #cccccc;
}
.maker-checkbox-group input:checked + label:before {
	border-color: #154170;
	background: #154170;
}
*/
.form-group > p {
	margin:0;
}
/*.leftside-fixed-280 > div {
	height:50%;
}*/
.sectionOrderRequest {
	overflow-y: scroll;
}
.sectionOrderRequest > article {
	padding:5px 2px;
}
.sectionOrderRequest > article:hover {
	background-color:rgba(200,231,244,0.5);
}
.sectionOrderRequest > article span {
	color: #858585;
	/*font-size:10px;*/
	font-size:0.95em;
	line-height: 15px;
	padding-bottom: 8px;
	display: inline-block;
	padding-right:5px;
}
.sectionOrderRequest > article h6 {
    font-weight: normal;
	/*color: #154170;*/
	font-size:1em;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	width:170px;
	padding:0 2px;
	line-height:20px;
}
.sectionOrderRequest > article div.standardetc {
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	width:170px;
}
.numCartOrderRequestNumber {
	width:40px;
	text-align: right;
	margin-right:0;
	margin-left:auto;
}
.sectionOrderRequest > article {
	display:flex;
}
.sectionOrderRequest > article > div:nth-child(1){
	width:35px;
}
.sectionOrderRequest > article > div:nth-child(2){
	width:195px;
}
.sectionOrderRequest > article > div:nth-child(3){
	width:45px;
}
.h6-title {
	font-weight: bold;
}
.h6-title::before{
	font-family: 'FontAwesome';
	content:"\f02b";
	padding-right:3px;
	color:#154170;
}

/*マスタタイトル*/
.master-title {
	font-weight: bold;
	margin:15px 0 0 15px;
}
.master-title::before{
	font-family: 'FontAwesome';
	content:"\f013";
	padding-right:3px;
	color:#154170;
}



.deliveryWaitIcon::before {
    font-family: 'FontAwesome';
    color:#eec500;/*ffd400;*/
	cursor:pointer;
	content:"\f0c8";
}
.requestingIcon::before {
    font-family: 'FontAwesome';
    color:#0025ff;
	cursor:pointer;
	content:"\f0c8";
}


/*ユーザーマスタ*/
.divMasterList,
.divMasterInput {
	width:50%;
	/*border:1px solid #444;*/
	padding:30px 15px;
	background-color: RGBA(255,255,255,1.0);
}

.frmMasterInput {
	padding-top:10px;
}
.frmMasterInput >div.form-group > label {
	width:150px;
	text-align: right;
	padding-right:10px;
	vertical-align: top;
}
.frmMasterInput > div.form-group > input[type=text],
.frmMasterInput > div.form-group > input[type=email],
.frmMasterInput > div.form-group > input[type=tel],
.frmMasterInput > div.form-group > textarea {
	width:250px;
}
.frmMasterInput > div.form-group > textarea {
	height:120px;
	resize:none;
}
#author {
	display:inline-block;
}
#author > label {
	width:75px;
	margin-left:5px;
}
.btn-delete-icon {
	font-size:1.3em !important;
	border:1px solid #959595 !important;
	border-radius:3px;
	padding:5px !important;
}
.btn-delete-icon:hover {
	background-color:#c6c6c6;
}
.btn-cart-icon {
	font-size:1.3em !important;
	border:1px solid #959595 !important;
	border-radius:3px;
	padding:2px;
	width:30px;
}
.btn-cart-icon:hover {
	color:#e95295;
}
.btn-favorite-icon {
	font-size:1.3em !important;
	border:1px solid #959595 !important;
	border-radius:3px;
	padding:2px;
	width:30px;
}
.btn-favorite-icon:hover {
	color:#e6b422;
}
.btn-folderadd-icon {
	font-size:1.3em !important;
	border:1px solid #959595 !important;
	border-radius:3px;
	padding:2px;
	width:30px;
	margin-left:15px;
	margin-bottom:5px;
	color:#f1c849;
}
.btn-folderadd-icon:hover {
	color:#e6b422;
}

#chkShared{
	margin:0 3px 0 10px;
}

.btn-cart-favorite-delete-icon {
	font-size:1.3em !important;
	border:1px solid #959595 !important;
	border-radius:3px;
	padding:2px;
	width:30px;
}
.btn-cart-favorite-delete-icon:hover {
	color:#fd7e14;
}


/*.deleteIconButton::before {
    font-family: 'FontAwesome';
    color:#fd7e14;
	cursor:pointer;
	font-size:1.7em;
	content:"\f1f8";
}
.deleteIconButton:hover{
	opacity:0.7;
}*/

.alert-string {
	color:#e3342f;
}
label.required:after {
	margin-left: 1.0em;
	padding: 0px 6px 0px 6px;
	border-radius: 4px;
	font-size: 0.6em;
	color: white;
	background-color: #C44;
	content: "必須";
}

.resetLinkOn {
	display:inline-block;
}
.resetLinkOff {
	display:none;
}

.vakata-context li a > i:empty,
.vakata-context li  a,
.vakata-context li  a > i {
	line-height:25px !important;
}
.vakata-contextmenu-sep,
.vakata-context li > a > i {
	height:25px !important;
}
.contextmenu_deleteicon {
	font-family: "FontAwesome";
	display:inline-block;
	cursor: pointer;
	font-style: normal;
	font-size:15px !important;
	
}
.contextmenu_deleteicon::before{
	content:"\f1f8";
}


/*マスタテーブル 3列*/
.master3columnList {
	min-width:720px;
}
.master3column {
	width:700px !important;
}
.master3column thead th:nth-child(2),
.master3column tbody td:nth-child(2) {
    width:290px !important;
}
.master3column thead th:nth-child(3),
.master3column tbody td:nth-child(3) {
    width:290px !important;
}

/*マスタテーブル 5列*/
.master5columnList {
	min-width:740px;
}
.master5column {
	width:720px !important;
}
.master5column thead th:nth-child(2),
.master5column tbody td:nth-child(2) {
    width:250px !important;
}
.master5column thead th:nth-child(3),
.master5column tbody td:nth-child(3) {
    width:110px !important;
}

.master5column thead th:nth-child(4),
.master5column tbody td:nth-child(4) {
    width:180px !important;
}
.master5column thead th:nth-child(5),
.master5column tbody td:nth-child(5) {
    width:60px !important;
}

/* 発注先マスタ　フォーム */
.frmSupplierMasterInput {
	padding-top:10px;
	min-width:600px;
}
.frmSupplierMasterInput >div.form-group > label {
	width:150px;
	text-align: right;
	padding-right:10px;
	vertical-align: top;
}
.frmSupplierMasterInput > div.form-group > input[type=text],
.frmSupplierMasterInput > div.form-group > input[type=email],
.frmSupplierMasterInput > div.form-group > input[type=tel] {
	width:400px;
}
/* メーカーマスタ　フォーム */
.frmMakerMasterInput {
	padding-top:10px;
	min-width:600px;
}
.frmMakerMasterInput >div.form-group > label {
	width:150px;
	text-align: right;
	padding-right:10px;
	vertical-align: top;
}
.frmMakerMasterInput > div.form-group > input[type=text],
.frmMakerMasterInput > div.form-group > select{
	width:400px;
}
/* 予算マスタ　フォーム */
.frmBudgetMasterInput {
	margin-top:40px;
	padding-top:6px;
	min-width:600px;
}
.frmBudgetMasterInput >div.form-group > label {
	width:150px;
	text-align: right;
	padding-right:10px;
	vertical-align: top;
}
.frmBudgetMasterInput > div.form-group > input[type=text]{
	width:400px;
}
.frmBudgetMasterInput #displayOrder{
	width:100px;
}
/* スピンボタン 非表示 */
/* Chrome、Safari Edge*/
.frmBudgetMasterInput > div.form-group > input[type=number]::-webkit-outer-spin-button,
.frmBudgetMasterInput > div.form-group > input[type=number]::-webkit-inner-spin-button
{
	-webkit-appearance: none;
    margin: 0;
}
/* Firefox、IE */
.frmBudgetMasterInput > div.form-group > input[type=number]{
	-moz-appearance:textfield;
}

#useStartDate, #useEndDate{
	width:150px;
}
.prev-masterTable {
	margin-right: 20px;
}
#frmBudgetNendo >  div.form-group > input[type=number]{
	width: 5em;
}
/* 設定画面 */
.divConditionInput {
	margin: auto;
	/*border:1px solid #444;*/
	padding:2px 15px;
	background-color: RGBA(255,255,255,1.0);
}
.frmConditionInput {
	padding-top:10px;
	min-width:600px;
}
.frmConditionInput > fieldset >div.form-group > label {
	width:150px;
	text-align: right;
	padding-right:10px;
	vertical-align: top;
}
.frmConditionInput >fieldset >div.form-group >label.radio1{
	width: 6em;
    text-align: left;
}
.frmConditionInput >fieldset >div.form-group >label.chk1{
	width: 20em;
	text-align: left;
}
.frmConditionInput > fieldset > legend {
	font-size: 1.3em;
}
.frmConditionInput  > fieldset > div.form-group > input[type=text]{
	width:400px;
}
.frmConditionInput  > fieldset > div.form-group > input[type=checkbox]{
	margin-left: 154px;
}
.frmConditionInput > fieldset >div.form-group > span {
	margin-left: 0.5em;
}
